{
  "branches": [
    "+([0-9])?(.{+([0-9]),x}).x",
    "main",
    "master",
    {
      "name": "develop",
      "prerelease": true
    },
    {
      "name": "staging",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@google/semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": [
              "debian/blastfoam/DEBIAN/control"
            ],
            "from": "Version: .*",
            "to": "Version: ${nextRelease.version}",
            "results": [
              {
                "file": "debian/blastfoam/DEBIAN/control",
                "hasChanged": true,
                "numMatches": 1,
                "numReplacements": 1
              }
            ],
            "countMatches": true
          }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
      "@semantic-release/exec",
      {
        "publishCmd": "echo RELEASE=${nextRelease.version} >> $GITHUB_ENV"
      }
    ]
  ]
}
